$label-color: #3d3d3d;
$title-color: #161616;

#modalAuthorization {
  .modal-header {
    background-color: #f3f3f3;
    color: $title-color;

    padding: 20px;
  }

  .modal-title {
    font-weight: 700;
    font-size: 20px;
  }

  .modal-body {
    .tabs {
      width: 100%;
      height: 30px;

      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 20px;

      display: flex;
      gap: 5px;

      .tab {
        font-family: $mainFont;
        font-size: 16px;
        font-weight: 500;

        height: 100%;
        width: 100%;
        text-align: center;
        color: $title-color;

        border-bottom: 2px solid #d0d0d0;

        position: relative;
        cursor: pointer;

        &::after {
          content: "";
          // display: none;
          position: absolute;
          bottom: -2px;
          // width: 100%;
          height: 2px;
          background-color: $BrandColor1;
        }

        &::after {
          right: 0;

          width: 0;
          transition: width 1s ease, left 1s ease;
        }
        &.active::after {
          width: 100%;
          left: 0;
        }
      }
    }

    .form {
      display: none;
      flex-direction: column;
      gap: 20px;

      color: $label-color;

      padding: 20px 40px;

      &.active {
        display: flex;
      }

      label {
        font-size: 14px;
        font-weight: 400;

        display: block;
        margin-bottom: 10px;
      }

      input {
        background-color: #f4f4f4;

        width: 100%;
        height: 40px;
        padding: 0 15px;

        font-size: 16px;
        font-style: italic;

        border: none;
        outline: none;

        transition: box-shadow 0.5s ease;

        &:focus {
          box-shadow: 2px 2px 2px #b8b8b8;
        }
      }

      .input-error {
        display: none;
        align-items: center;

        background-color: #ffd9d9;
        color: $title-color;
        font-size: 14px;

        margin-top: 5px;
        height: 40px;

        &.active {
          display: flex;
        }

        .icon-wrapper {
          height: 40px;
          width: 40px;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        .iconify {
          color: #dc0505;
          font-size: 16px;
        }
      }

      .asterisk {
        color: #dc0505;
      }

      .line {
        height: 2px;
        background-color: #d0d0d0;
      }

      .toggle-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;

        font-size: 16px;
        font-weight: 400;

        &__restore {
          color: $BrandColor1;
          text-decoration: none;
          transition: all 0.5 ease;

          &:hover {
            text-decoration: underline;
          }
        }

        &__send {
          width: 150px;
          font-family: $montserratFont;
          font-weight: 500;
        }
      }
    }
  }
}
