$BrandColor1: #29b3f4;
$mainFont: "Roboto", sans-serif;
$montserratFont: "Montserrat", sans-serif;

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot");
  src: local("☺"),
    url("../../fonts/Roboto/Roboto-Regular/Roboto-Regular.woff") format("woff"),
    url("../../fonts/Roboto/Roboto-Regular/Roboto-Regular.ttf")
      format("truetype"),
    url("../../fonts/Roboto/Roboto-Regular/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Medium/Roboto-Medium.eot");
  src: local("☺"),
    url("../../fonts/Roboto/Roboto-Medium/Roboto-Medium.woff") format("woff"),
    url("../../fonts/Roboto/Roboto-Medium/Roboto-Medium.ttf") format("truetype"),
    url("../../fonts/Roboto/Roboto-Medium/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Black/Roboto-Black.eot");
  src: local("☺"),
    url("../../fonts/Roboto/Roboto-Black/Roboto-Black.woff") format("woff"),
    url("../../fonts/Roboto/Roboto-Black/Roboto-Black.ttf") format("truetype"),
    url("../../fonts/Roboto/Roboto-Black/Roboto-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Bold/Roboto-Bold.eot");
  src: local("☺"),
    url("../../fonts/Roboto/Roboto-Bold/Roboto-Bold.woff") format("woff"),
    url("../../fonts/Roboto/Roboto-Bold/Roboto-Bold.ttf") format("truetype"),
    url("../../fonts/Roboto/Roboto-Bold/Roboto-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Italic/Roboto-Italic.eot");
  src: local("☺"),
    url("../../fonts/Roboto/Roboto-Italic/Roboto-Italic.woff") format("woff"),
    url("../../fonts/Roboto/Roboto-Italic/Roboto-Italic.ttf") format("truetype"),
    url("../../fonts/Roboto/Roboto-Italic/Roboto-Italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.eot");
  src: local("☺"),
    url("../../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.woff")
      format("woff"),
    url("../../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.ttf")
      format("truetype"),
    url("../../fonts/Montserrat/Montserrat-Medium/Montserrat-Medium.svg")
      format("svg");
  font-weight: 500;
  font-style: normal;
}
